.box
{
    background-color: plum;
    width: 300px;
    height: 300px;
    padding: 20px;
}

.box p{
    background-color: antiquewhite;
    padding:0px 0px 20px 10px;
    height:250px ;
    text-indent: 50px;
    overflow: auto;
    text-decoration: 2px line-through dashed red;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}