.box
{
    width: 100px;
    height: 100px;
}

#box1
{
    background-color: blueviolet;
    position: relative;   
}


#box2
{
    background-color: rgb(205, 172, 236);
    position: relative;   
    left: 100px;
    top: -100px;
}